.collapsible {
    border: none;
    border-bottom: 2px solid var(--COLOR_PRIMARY);
    color: #111111;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    position: relative;
    background-color: white;
    outline: none;
    font-size: 15px;
}

.collapsible.active,
.collapsible:hover {
    background-color: #f1f1f1;
}

.collapsible i {
    font-size: 22px;
    right: 20px;
    top: 18px;
    position: absolute;
    color: var(--COLOR_PRIMARY);
    transition: 0.2s ease;
}

.collapsible.active i {
    transform: rotate(180deg);
}

.content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.booking-grid {
    display: grid;
    grid-template-columns: auto 320px;
    gap: 18px;
}

.booking-card {
    /*margin: 15px;*/
    padding: 18px;
    border-radius: 20px;
    width: 100% !important;
    margin: 10px 0;
    background-color: #fff;
    transition: 0.2s;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.booking-card .price {
    display: inline-block;
}

.booking-card .price::before {
    content: '•';
    margin: 0 8px;

}

.booking-card:hover {
    box-shadow: 0px 8px 20px 0px rgba(57, 64, 82, 0.3);
    /* box-shadow: 0px 48px 46px -36px rgba(57, 64, 82, 0.5); */
}

.cart-card-price {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding-top: 8px;
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    border-top: 1px solid #dddddd;
    font-family: 'Montserrat', sans-serif;
}

.grand-total-price {
    font-size: 17px;
    font-weight: 1000;
    border: none;
    background-color: #f1f1f1;
    padding: 12px 20px;
}

.checkout-btn {
    width: 100%;
    margin-top: 10px;
}

#cart-summary {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    min-height: 70px;
    background-color: var(--COLOR_PRIMARY);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: -5px 3px 10px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

#cart-summary h3 {
    color: white;
}

.summary-btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    height: 42px;
}

.cart-heading-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--COLOR_PRIMARY);
    padding-bottom: 8px;
    margin: 23px 0;
}

.checkout-heading-container {
    justify-content: space-between;
}

.cart-heading-container .close-btn {
    position: relative;
}

.cart-heading-container h3 {
    margin: 0;
    padding: 0;
}

.close-btn {
    display: none;
    position: absolute;
    left: -10px;
}

#checkout-close {
    left: unset;
    right: -10px;
    display: block;
}

#cart-area,
#checkout-area,
#checkout-data {
    transition: visibility 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
}

.date-and-time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px;
    padding-top: 8px;
    gap: 10px;
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    border-top: 1px solid #dddddd;
    font-family: 'Montserrat', sans-serif;
}

.date-and-time>div>input {
    text-align: center;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.12s ease-in-out;
    border: 2px solid var(--COLOR_TINT);
}

#checkout-area {
    display: flex;
    visibility: 'hidden';
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

#checkout-data {
    opacity: 0;
    transform: scale(0.5);
    border-radius: 10px;
    height: 90vh;
    overflow-y: hidden;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 8px 20px 0px rgba(57, 64, 82, 0.3);
    max-width: 650px;
    width: 100%;
}

#checkout-area.active {
    opacity: 1;
    pointer-events: auto;
    visibility: 'visible';
    /* transform: scale(1) translateX(-50%); */
}

#checkout-area.active #checkout-data {
    opacity: 1;
    transform: scale(1);
}

.checkout-process {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 20px;
    right: 20px;
    display: grid;
    grid-template-rows: calc(100% - 90px) 90px;
}

@media screen and (max-width: 900px) {
    .booking-grid {
        grid-template-columns: auto;
    }

    #cart-area {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transform: scale(0.5);
        z-index: 1000;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 20px;
    }

    #cart-area.active {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
    }

    /* .cart-process {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #f1f1f1;
            padding: 0 20px 20px 20px;
            border-top: 1px solid #eeeeee;
        } */

    .cart-process {
        position: absolute;
        top: 65px;
        bottom: 0;
        left: 0;
        right: 0;
        display: grid;
        grid-template-rows: calc(100% - 110px) 110px;
    }

    .close-btn {
        display: block;
    }

    .grand-total-price {
        padding: 0 0 8px 0;
    }

    .cart-button-area {
        padding: 0 20px;
        background-color: #f1f1f1;
    }

    #cart-section {
        overflow-y: auto;
        padding: 0 20px;
    }


    #cart-summary {
        display: flex;
    }

    .date-and-time {
        margin: 0;
    }

    .date-and-time>div {
        margin: 4px 0;
    }


    footer {
        padding-bottom: 70px;
    }
}

.flex-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.flex-heading .heading {
    font-size: 18px;
    font-weight: 600;
    color: #111111;
    font-family: 'Montserrat', sans-serif;
}

#cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    height: 200px;
}

#cart-empty h3 {
    color: #999999;
}