header {
    background-image: url("../images/bg.png");
    background-color: #efefef;
    position: relative;
}

.fa-brands {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    color: white;
    filter: invert(1);
}

i.facebook {
    background-image: url("../assets/svg/ic_facebook.svg");
}
i.instagram {
    background-image: url("../assets/svg/ic_instagram.svg");
}
i.github {
    background-image: url("../assets/svg/ic_github.svg");
}
i.linkedin {
    background-image: url("../assets/svg/ic_linkedin.svg");
}
i.stackoverflow {
    background-image: url("../assets/svg/ic_stackoverflow.svg");
}




.header-content {
    height: 100vh;
    /* js fix max height would be better */
    max-height: 750px;
    display: grid;
    align-items: center;
    position: relative;
    grid-template-columns: auto 200px;
}

.header-content>.text-content {
    z-index: 5;
}

h1.header-title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
    z-index: 20;
}

.header-body {
    margin-top: 20px;
    font-size: 20px;
    color: #7e7e7e;
}

.header-image {
    width: 450px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    right: -15px;
}

.header-image img {
    position: absolute;
    bottom: 0;
    max-height: calc(100vh - 75px);
    max-width: 104%;
    right: 0;
}

@media screen and (max-width: 855px) {
    .header-image {
        display: none;
    }

    .header-content {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 818px) {
    .header-content {
        height: 100vh;
        /* js fix max height would be better */
        max-height: unset;
    }
}