#page-navbar {
    overflow: visible;
    transition: background 0.4s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 988;
}

#page-navbar.collapsed {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.03), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
}

#navbar-contents.collapsed {
    padding: 13px 10px;
}

#navbar-contents {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    transition: padding 0.4s;
}

#navbar-menu {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    z-index: 999;
    gap: 24px;
}

#navbar-contents a.header-item {
    font-size: 16px;
    display: block;
    overflow: hidden;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* transition: 0.2s; */
}

#navbar-contents a.header-item.link {
    padding: 12px 0px 9px 0px;
    color: black;
    border-radius: 4px;
}



#navbar-contents a.header-item.link.active {
    color: #fd7468;
    background-color: #f8f8f8;
}

#navbar-contents a.header-item.link.active:hover, #navbar-contents a.header-item.link:hover {
    background-color: #f8f8f8;
    color: var(--COLOR_TINT);
}

#navbar-contents #navbar-logo {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.4s !important;
    width: 200px;
    height: 90px;
    transform-origin: top left;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/s_3.svg');
}

#navbar-contents #navbar-logo.collapsed {
    top: -10px;
    transform: scale(0.75);
    transform-origin: left;
}

.navbar-section {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

#navbar-contents .header-item.btn {
    padding: 5px 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    outline: none;
    border: none;
    background-color: var(--COLOR_PRIMARY);
    color: var(--COLOR_ON_PRIMARY);
    border-radius: 10px;
    margin: 5.5px 0;
}

#navbar-contents .header-item.btn:hover {
    background-color: var(--COLOR_TINT);
}

@media screen and (max-width: 1000px) {
    .navbar-section {
        gap: 10px;
    }

    #menu-btn {
        display: flex !important;
    }

    #navbar-menu {
        border: 1px solid #f0f0f0;
        display: block;
        position: fixed;
        right: -70px;
        margin-right: 0;
        opacity: 0;
        transform: scale(0.2);
        visibility: hidden;
        background-color: #fff;
        min-width: 200px;
        top: -10px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.03), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
    }

    #navbar-menu.open {
        opacity: 1;
        visibility: visible;
        right: 10px;
        transform: scale(1);
        top: 80px;
    }

    #navbar-contents a.header-item.link {
        padding: 10px 15px;
        border-radius: 0px;
    }

    /*
    #navbar a.b-btn {
        background-color: transparent;
        color: var(--COLOR_PRIMARY);
        margin-left: 0px;
        text-align: left;
        padding-left: 15px;
        font-family: 'Montserrat', sans-serif;
    } 
    #navbar-contents a.header-item.btn {
        padding: 10px 15px;
        font-family: 'Montserrat', sans-serif;
        color: var(--COLOR_PRIMARY);
    }
    #navbar-contents a.header-item.btn:hover {
        background-color: var(--COLOR_PRIMARY);
        color: var(--COLOR_ON_PRIMARY);
    } */
}

#menu-btn {
    --color-line: #444444;
    --dimen-line-weight: 3px;
    overflow: hidden;
    /* background-color: var(--COLOR_PRIMARY); */
    color: var(--color-line);
    border: none;
    height: 42px;
    outline: none;
    transition: background 0.4s ease-in-out;
    width: 45px;
    border-radius: 6px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn__burger {
    --width: 25px;
    --gap: 8px;
    width: var(--width);
    height: var(--dimen-line-weight);
    background: var(--color-line);
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .4s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: var(--width);
    height: var(--dimen-line-weight);
    background: var(--color-line);
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .4s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(calc(var(--gap) * -1));
}

.menu-btn__burger::after {
    transform: translateY(var(--gap));
}

/* ANIMATION */

#menu-btn.open {
    --color-line: var(--COLOR_TINT);
    /* background-color: var(--COLOR_TINT) !important; */
}

#menu-btn.open .menu-btn__burger {
    transform: rotate(180deg);
    background: transparent;
    box-shadow: none;
}

#menu-btn.open .menu-btn__burger::before {
    transform: rotate(-315deg)
}

#menu-btn.open .menu-btn__burger::after {
    transform: rotate(135deg)
}

/* adding cool hover effet on navbar menu items on desktop mode */

@media screen and (min-width: 1000px) {
    #navbar-contents a.header-item.link {
        background: linear-gradient(to right, #f24831, #f24831 50%, #111 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        /* transition: background-position 275ms ease; */
    }

    #navbar-contents a.header-item.link:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 8px;
        left: 0;
        background: #f24831;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
    }

    #navbar-contents a.header-item.link:hover, #navbar-contents a.header-item.link.active {
        color: #fd7468;
        background-position: 0 100%;
    }

    #navbar-contents a.header-item.link:hover:before {
        visibility: visible;
        width: 80%;
    }
}