.lottie-splash-logo {
    position: absolute;
    top: 50%;
    filter: brightness(90%) grayscale(100%);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.splash-container {
    top: 0;
    background: radial-gradient(circle, rgba(64, 85, 144, 1) 0%, rgba(48, 47, 91, 1) 100%);
    background: white;
    /* background: url('../images/bg.png'); */
    transition: 400ms;
    position: fixed !important;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

.splash-container.hidden {
    opacity: 0;
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}